body {
    background-image: url("Men\ Fashion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  img {border-style: double;}
h {font-family: Georgia, 'Times New Roman', Times, serif; font-display: block;}